from fastapi import FastAPI

app = FastAPI(title="{{ app_name }}", description="{{ app_description }}")

{{ generated_backend }}

@app.get("/")
def read_root():
    return {"message": "{{ app_name }} API"}
